body{
    width:100%;
    max-width: 2000px;
    margin: auto;
    background-color: #e2e2e2;
}

form{
    margin:10px;
}

#sub-header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

#header-text{
    font-size: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #eeeeee;
}


.card {
    width: 75%;
    margin:auto;
    margin-top: 20px;
    margin-bottom:60px;
}

#full-header {
    text-align: center;
    color: #eeeeee;
    margin-bottom: 0px;
    background-color: #004345; 
    border-radius: 4px;
}

.customcardheaders{
    background-color: #206669;
    color: #ececec;
}

#last-card{
    margin-bottom:20px;
}

#submit-button{
    background-color: #004345;
    border-color: #01383a;
}

